@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/century_gothic.woff2');
    font-weight: 400;
}

$text-color: rgba(74, 74, 74, 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    width: 100%;
    max-width: 100%;
}

body {
    background-color: white;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 160px;

    &__logo {
        position: relative;
        width: 209px;
        margin-right: 92px;

        .logo__text {
            -webkit-text-stroke: 1px #000000;
            -o-text-stroke: 1px #000000;
            -moz-text-stroke: 1px #000000;
        }

        ::before {
            position: absolute;
            content: '';
            width: 2px;
            height: 80px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 100%;
            right: -45px;
            background-color: rgba(59, 57, 60, 1);
        }
    }

    &__title {
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: rgba(36, 23, 61, 1);
    }

    &__contacts {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: rgba(36, 23, 61, 1);
        &:hover{
            opacity: 0.8;
        }
    }

    &__phone {
        margin-right: 10px;
    }

    &__button {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.5px;
        padding: 12.5px 45.5px;
        background-color: rgba(255, 198, 51, 1);
        border-radius: 30px;
        &:hover{
            opacity: 0.8;
        }
    }
}

.logo {
    &__title {
        cursor: pointer;
        font-family: 'Work Sans', sans-serif;
        text-align: center;
        padding-right: 5px;
        font-weight: 900;
        font-size: 81px;
        line-height: 95px;
        width: 100%;
        background: linear-gradient(90deg, #2A2D3E 0%, #FFC633 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -o-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    &__text {
        font-family: 'Work Sans', sans-serif;
        font-size: 13px;
        line-height: 15px;
        font-weight: 700;
        color: rgba(36, 23, 61, 1);
        text-transform: uppercase;
    }
}


.consult {
    background-image: url('../images/gps-consult-bg.png');
    height: 738px;
    background-size: cover;
    padding: 105px 160px 172px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__content {

        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
    }

    &__content-title {
        font-weight: 800;
        font-size: 67px;
        line-height: 70px;
        text-transform: uppercase;
    }

    &__content-text {
        font-weight: 300;
        font-size: 29px;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 62px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 462px;
            background-color: white;
            bottom: -30px;
            left: 50%;
            transform: translate(-50%);
            border-radius: 100%;
        }
    }

    &__content-subtitle {
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 30px;

    }

    &__content-subtext {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 10px;
    }

    &__content-subtext--yellow {
        color: rgba(246, 191, 51, 1);
        font-weight: 700;
    }

    &__content-credit {
        text-transform: uppercase;
        color: rgba(246, 191, 51, 1);
        font-size: 24px;
        line-height: 33px;
    }

    &__form {
        font-family: 'Montserrat', sans-serif;
        padding: 50px;
        width: 890px;
        height: 461px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 25px 45px 0px rgba(0, 0, 0, 0.15);
        background-color: rgba(255, 198, 51, 1);
        border-radius: 30px;
        text-align: center;
    }

    &__form-info {
        margin-bottom: 30px;
    }

    &__form-title {
        color: rgba(36, 23, 61, 1);
        font-weight: 800;
        font-size: 87px;
        line-height: 106px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    &__form-text {
        font-weight: 400;
        color: rgba(36, 23, 61, 1);
        font-size: 29px;
        line-height: 42px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__form-subtext {
        color: white;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__form-inputs {
        margin-bottom: 30px;
        display: flex;
    }

    &__form-input {
        font-family: 'Montserrat', sans-serif;
        padding: 21px 0 21px 20px;
        border: none;
        border-radius: 5px;
        height: 65px;
        width: 385px;
        outline: none;
        font-weight: 200;
        font-size: 19px;
        line-height: 23px;
        color: rgba(92, 92, 92, 1);
        &:hover{
            opacity: 0.9;
        }
        &:focus{
            opacity: 1;
        }

        &:first-of-type {
            margin-right: 20px;
        }
    }
    &__form-button{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding: 21.5px 36.5px;
        color: white;
        background-color: rgba(36, 23, 61, 1);
        box-shadow: 4px 4px 8px 0px rgba(23, 55, 95, 0.2);
        border-radius: 43px;
        &:hover{
            opacity: 0.8;
        }
    }
}

.advantages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 110px 70px 44px;
    position: relative;
    &__title{
        z-index: 3;
        position: absolute;
        top: 80px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        color: rgba(36, 23, 61, 1);
    }
    &__grid{
        padding: 90px;
        display: grid;
        gap: 93px;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        border-radius: 20px;
        border: 5px double rgba(3, 3, 3, 1);   
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-color: white;
            height: 64px;
            width: 567px;
            left: 50%;
            top: -32px;
            transform: translate(-50%);
        } 
    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__item-image{
        object-fit: cover;
        max-height: 80px;
        width: auto;
        margin-right: 40px;
    }
    &__item-text{
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
    }
}

.footer {
    height: 254px;
    background-color: white;

    &__logo {
        width: 206px;
        margin: 70px auto 40px;
    }

    &__copyright {
        text-align: center;
        font-family: 'Century Gothic';
        font-weight: 400;
        background-color: rgba(230, 229, 234, 0.15);
        color: $text-color;
        padding: 15px 0;
    }

    &__copyright-link {
        text-decoration: underline;
        color: rgba(248, 181, 0, 1);
    }
}