@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./assets/fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: 600;
}


@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}


@font-face {
    font-family: 'Martel', serif;
    src: url('./assets/fonts/Martel/Martel-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Martel', serif;
    src: url('./assets/fonts/Martel/Martel-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Martel', serif;
    src: url('./assets/fonts/Martel/Martel-Bold.ttf');
    font-weight: 700;
}