//@import url('./normalize.scss');
//@import url('./fonts.scss');
$text-color: #252B42;
$second-text-color: #737373;
$brown-color: #784F33;

@mixin h1-text {
    font-family: "Martel", serif;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    letter-spacing: .2px;
}

@mixin h2-text{
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px
}

@mixin h3-text {

    font-family: 'Martin', serif;
    font-weight: 700 ;
    font-size: 26px;
    line-height: 32px;
    color: $text-color;
    letter-spacing: 1px;
}

@mixin h4-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .2px;
}
@mixin h5-text{
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: white;
}

@mixin h6-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color:white;
}
@mixin second-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $second-text-color;
}
@mixin ordinary-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $second-text-color;
}

@mixin button-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {

    text-decoration: none;
    color: inherit;
}

.header {
    background-image: url('./images/header-bg.png');

    &__nav {
        padding: 0 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 104px;
    }

    &__nav-logo {
        padding-left: 136px;
        margin-bottom: 2px;
        @include h3-text;
    }

    &__nav-content {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
        @include second-text;
        margin-right: 55px;
        width: 240px;
    }

    &__nav-link:not(:nth-of-type(-1)) {
        margin-right: 26px;
    }

    &__nav-icon {
        cursor: pointer;
        margin-left: 21px;
        
    }

    &__nav-burger {
        cursor: pointer;
        align-self: flex-start;
        width: 24px;
        height: 14px;
        margin-left: 140px;
    }


    &__container {
        padding: 0 196px;
        min-height: 681px;
        background-image: url('./images/header-content-bg.png');
        background-repeat: no-repeat;
        background-position: right 170px bottom;
    }

    &__content {
        padding-top: 154px;
    }

    &__title {
        @include h1-text;
        margin-bottom: 35px;
    }

    &__subtitle {
        @include h4-text;
        margin-bottom: 35px;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__button:first-child {
        margin-right: 10px;
    }
}

.burger-menu {
    margin-top: 5px !important;
    margin-left: 1px !important;
    height: 2px;
    width: 24px;
    margin-top: 4px;
    background-color: $second-text-color;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 17px;
        height: 2px;
        background-color: $second-text-color;
        top: 6px;
        right: 0;
    }

    &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 2px;
        background-color: $second-text-color;
        top: 12px;
        right: 0;
    }
}

.button {
    max-height: 48px;
    width: fit-content;
    padding: 10px 36px;
    border-radius: 37px;
    border: none;
    @include button-text;
    cursor: pointer;

    &--filled {
        color: white;
        background-color: $brown-color;
    }

    &--trans {
        background-color: transparent;
        color: $brown-color;
        border: 1px solid $brown-color;
    }

    &--square {

        @include button-text;
        border: none;
        border-radius: 5px;
        padding: 17px 40px;
    }
}

.footer {
    &__container {
        padding: 0 195px;
    }

    &__consult {
        display: flex;
        justify-content: space-between;
        padding: 42px 107px 42px 0;
    }

    &__consult-title{
        @include h3-text;
        margin-bottom: 10px;
    }
    &__consult-text{
        @include second-text();
        font-weight: 400;
        line-height: 20px;
    }
    &__consult-button{
        margin-right: 39px;
        cursor: pointer;
    }
    &__sitemap{
        background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
        padding: 50px 195px 42px;
    }
    &__sitemap-menu{
        display: flex;
        
    }
    &__menu-list{
        margin-right: 30px;
        &:nth-of-type(2n+1){
        min-width: 148px;
        }
        &:nth-of-type(2n){
            min-width: 152px;
        }
    }
    &__menu-title{
        @include h5-text();
        margin-bottom: 19px;
    }
    &__cred-title{
        @include h5-text();
        margin-bottom: 17px;
    }
    &__menu-item{
        @include h6-text();
        margin-bottom: 10px;
    }
    &__credentials{
        
        margin-left: 2px;
    }
    &__cred-item{
        @include h6-text();
        line-height: 30px;
        font-weight: 700;
        display: flex;
        margin-bottom: 9px;
        overflow: hidden;
    }
    &__cred-icon{
        margin-right: 10px;
    }
    &__copyright {
        display: flex;
        justify-content: space-between;
        height: 74px;
        align-items: center
    }

    &__copyright-text {
        @include second-text;
        font-weight: 700;
    }

    &__copyright-social {
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 236px;
    }
}
@media (min-width: 1450px){
    .footer__sitemap-menu{
    justify-content: space-between;
    }
}

.areas{
    padding: 100px 199px 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        @include h2-text();
        margin-bottom: 10px;
    }
    &__text{
        @include ordinary-text();
        margin-bottom: 80px;
        text-align: center;
    }
    &__cards{
        display: flex;

    }
    &__card{
        cursor: pointer;
        width: 328px;
        height: 147px;
        background: rgba(249, 249, 249, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 13px 19px 0px rgba(0,0,0,0.12);
        margin-right: 30px;
        border-radius: 5px;
        &:hover{
            transform: scale(1.1);
            transition: all 0.3s ease;
        }
    }
    &__card-title{
        @include h5-text();
        color: $text-color;
    }
    &__card-image{
        margin-bottom: 15px;
    }
    &__card--active{
        box-shadow: none;
        background: #295C7A;
        &:hover{
            transform: none;

        }
        .areas__card-title{
            color: white;
        }
        .areas__card-image{
            margin-bottom: 10px;
        }
    }
}